<h1>Todo List</h1>

<input type="text">
<button>Add Todo</button>

<ul>
	<%@todos.each do |todo| %>
	<li data-todo-id="<%= todo.id %>">  <input type="checkbox" <%if todo.completed%>checked<%end%>>
	<%=todo.description%> 
	<span>&times;</span>
	</li>
	<% end %>
</ul>

<script type="text/javascript">
$('button').click(function(){
	var desc = $('input').val();
	// console.log(desc);

	data_hash = {
		"todo":{"description": desc}
	}

	var request = $.ajax({
		url: "/todos",
		type: "POST",
		data: data_hash,
		dataType: "json"
	});

	request.done(function(data){
		// console.log("DONE FUNCTION");
		$('ul').append("<li data-todo-id='"+ data.id +"'>" +'<input type="checkbox">'+ data.description + " <span>&times;</span></li>")
		console.log(data);
	})

	request.fail(function(data){
		console.log("FAIL FUNCTION");
		$('h1').append("<p> There was an error saving your todo</p>")
	});
});

$('ul').click(function(e){
	// console.log(e.target);
	if($(e.target).is("span")){
		var li = $(e.target).parent();
		var id = li.data("todo-id");
		var request = $.ajax({
			url: "/todos/"+id,
			type: "DELETE",	
			dataType: "json"
		});

		request.done(function(data){
			li.remove();
		});
	}

	if($(e.target).is("input")){
		var li = $(e.target).parent();
		var id = li.data("todo-id");
		var checkbox_value = $(e.target).is(':checked');
		
		data_hash = {
		"todo":{"completed":checkbox_value}
		}

		var request = $.ajax({
			url: "/todos/"+ id,
			type: "PATCH",
			data: data_hash,
			dataType: "json"
		});

		request.done(function(data){
			//Don't need to do anything...
			console.log(data)
		});
	}
})
</script>